<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analytics Page</title>
    <link rel="stylesheet" href="static/analytics.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="analytics.html"><b>AKS Photoshop</b></a>
            </div>
            <div class="nav-links">
                <a style="background-color: #0088a9;" class="nav-link" href="#">Analytics</a>
                <a class="nav-link" href="">Users</a>
                <div class="dropdown">
                    <button class="nav-link dropdown-toggle">Hello, Soham</button>
                    <div class="dropdown-menu">
                        <a href="#">Profile</a>
                        <a href="#">Logout</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <h1>Data Analytics</h1>
        <div class="analytics">
            <div class="info-box">
                <h2>Number of Photos Uploaded</h2>
                <p>37</p>
            </div>
            <div class="info-box">
                <h2>Number of Slideshows Created</h2>
                <p>15</p>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>User Analytics</h1>
        <div class="analytics">
            
            
            <div class="info-box">
                <h2>Number of Active Users</h2>
                <p>25</p>
            </div>
            <div class="info-box">
                <h2>Number of New Users</h2>
                <p>10</p>
            </div>
        </div>
    </div>
    
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
</body>
</html>
