<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SLIDESHOW</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/slideshow.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a data-text="AKS Photoshop" href="{{url_for('home2',user=user)}}"><b>AKS Photoshop</b></a>
            </div>
            <div class="nav-links">
                <a class="nav-link" href="{{url_for('dropphoto',user=user)}}">Drop Photos</a>
                <a  class="nav-link" href="{{url_for('slideshow',user=user)}}">Slide
                    Show</a>
                    <a style="background-color: #0088a9;" class="nav-link" href="{{url_for('display',user=user)}}">Display</a>
                <div class="dropdown">
                    <button class="nav-link dropdown-toggle">Hello, {{user.first_name}}</button>
                    <div class="dropdown-menu">
                        <a href="#">Profile</a>
                        <a href="/logout">Logout</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>



    
    <!-- <video id="previewVideo" style="margin-left: 34%; width: 500px;" width="400" controls>
        <source src="{{url_for('dropphoto',user=user)}}" type="video/mp4">
    </video> -->
    <br><br><br>
    <video style="margin-left: 30%; width: 600px; border-radius: 10px;" width="400" controls>
        
            <source src="{{ url_for('get_video', user_id=user.id) }}?{{ timestamp }}" type="video/mp4">

    </video>
    
    <div style="display: flex;flex-direction: row;justify-content: center;text-align: center;">
        <!-- <button style="" type="submit" class="create">Create Video</button> -->
        <button style="width: 245px;" type="submit" class="create"><a style="text-decoration: none;color: black;" href="{{ url_for('static', filename='output.mp4') }}" download>Download 1080p</a></button>
        <button style="margin-left: 4%;" type="submit" class="create"><a style="text-decoration: none;color: black;" href="{{ url_for('static', filename='output.mp4') }}" download>Download 720p</a></button>
        <button style="margin-left: 4%;" type="submit" class="create"><a style="text-decoration: none;color: black;" href="{{ url_for('static', filename='output.mp4') }}" download>Download 360p</a></button>
    </div>
    <br><br><br>
</body>
<script>

</script>

</html>