<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="static/users.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="users.html"><b>AKS Photoshop</b></a>
            </div>
            <div class="nav-links">
                <a class="nav-link" href="#">Analytics</a>
                <a style="background-color: #0088a9;" class="nav-link" href="">Users</a>
                <div class="dropdown">
                    <button class="nav-link dropdown-toggle">Hello, Soham</button>
                    <div class="dropdown-menu">
                        <a href="#">Profile</a>
                        <a href="#">Logout</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <h1>User Information</h1>
        <p>Number of Users: 3</p>
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email ID</th>
                    <th>Videos Made</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Soham</td>
                    <td>soham.sadavarte@students.iiit.ac.in</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>Krishiv</td>
                    <td>krishiv.gupta@students.iiit.ac.in</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>Atharva</td>
                    <td>atharva.kulkarni@iiit.ac.in</td>
                    <td>10</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
</body>
</html>
