* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: #24252a;
    padding: 0.5% 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 30px;

}

.logo>a {
    text-decoration: none;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    background-image: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: wave 5s ease alternate infinite;
    transition: all 2s ease;
  }
  
  @keyframes wave {
    0% {
      background-position: 0 0;
    }
  
    100% {
      background-position: 100vw 100px;
    }
  }

.nav-links {
    display: flex;
    gap: 10px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: #0088a9;
}



.note {
    width: 500px;
    margin: 50px auto;
    font-size: 1.1em;
    color: #333;
    text-align: justify;
}


@media only screen and (max-width: 800px) {
    .nav__links {
        flex-direction: column;
        align-items: center;
    }

    .nav__links a {
        margin-top: 10px;
    }
}


html {
    height: 100%;
}

body {
    margin: 0;
}

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-45deg, rgb(71, 51, 204) 50%, rgb(0, 255, 208) 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

.content {
    background-color: rgba(255, 255, 255, .8);
    border-radius: .25em;
    box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
    box-sizing: border-box;
    left: 50%;

    padding: 10vmin;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

.content h1 {
    font-family: monospace;
    font-size: 350%;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}


.video {
    width: 50%;
    height: 300px;
    text-align: center;
    margin-left: 25%;
    margin-bottom: 5%;
    border-radius: 10px;
    background-color: black;
}

.play,.music,.pause {
    background-color: #ff6d77;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    padding: 1%;

    border: none;
    cursor: pointer;
    margin-top: 3%;
    width: 12%;
    height: 22%;
    font-size: x-large;
    margin-bottom: 5%;
    border-radius: 10px;
}
.create{
    background-color: #ff6d77;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    padding: 1%;

    border: none;
    cursor: pointer;
    margin-top: 3%;
    width: 15%;
    height: 22%;
    font-size: x-large;
    margin-bottom: 1%;
    border-radius: 10px;
}
button:hover{
    background-color: #ffb0b5;
}

.play {
    margin-left: 10%;
    margin-right: 10%;
}

.buttons{
    text-align: center;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    background-color: #24252a;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    border: none;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #0088a9;
    color: white;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:hover .dropdown-toggle {
    background-color: #0088a9;
}



.images{
    gap: 30px;
    display: flex;
    margin-top: 3%;
    margin-left: 20%;
}


.container {
    max-width: 1300px;
    margin: 0px auto;
    /* opacity: 0.8; */
    padding: 20px;
    background-color: #f9f9f9;
    
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    /* opacity: 0.5; */
    opacity: 1;
    border-collapse: collapse;
    
    margin-top: 20px;
}

th, td {
    padding: 10px;
    opacity: 1;
    
    text-align: left;
    border-bottom: 3px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

select[id="audio"],
select[name="transition"],
input[name="duration"] {
    padding: 8px 12px; 
    width: auto;

    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
}

select[name="audio"]::-ms-expand,
select[name="transition"]::-ms-expand {
    display: none;
}

select[name="audio"] {
    background-color: #fff;
}

input[name="duration"] {
    background-color: #fff;
}


#searchInput{
    padding: 8px 12px; 
    width: auto;
    justify-content: right;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* width: 100%; */
    /* margin-top: 5px; */
}

